/* Navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}





/* home section */
#home{
    height: 370px;
    padding: 3px 60px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 18px;
}

/* service section */
#services{
 flex-direction: column;
}
#services .box{
    padding: 14px;
    margin: 2px 15px;
    margin-bottom: 20px;


}

/* client section */
#clients{
   flex-wrap: wrap;
}
#clients img{
    width: 75px;
    height: auto;
    padding: 3px 6px;

}

/* contact section */

#contact-box form{
    width: 65%;
}


/* footer */


/* utility classes */
.h-primary{
    font-size: 34px;
}
.btn{
    font-size: 14px;
    padding: 4px 8px;
}